<!---Initialize Home Page--->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <!---Initialize structure of Title and house picture--->
        <div class = "title">
            <h1>House Price Predictor</h1>
            <img src="static/img/ddebb9c351b2c807a285f0d90381672e-house-black-icon.png" class="house"/>
        </div>
        <!---Links/buttons to other websites--->
        <div id = "menu-outer">
            <div class = "table">
                <ul id = "horizontal-list">
                    <li><a href = "https://flask.palletsprojects.com/en/2.0.x/" target="_blank" class = "link"><span class = "titleLink">Python Flask</span></a></li>
                    <li><a href = "https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html" target="_blank" class = "link"><span class = "titleLink">Scikit-Learn</span></a></li>
                </ul>
            </div>
        </div>
        <!---Containerize main page for styling--->
        <div class = "page">
            <!---Containerize paragraph and form for styling--->
            <div class = "container">
                <div class = "intro">
                    <b>
                        <p class = "Note"><b>Note: Enter values which are reasonable to the context</b></p>
                    </b>
                </div>
                <br>
                <!---Initialize form structure and inputs, set method to "POST"--->
                <form action = "{{url_for('predict')}}" method = "post" class = "info">
                    <input type="text" id="year" name="year" placeholder="year" required="required"/><span style="color:red"> * </span>
                    <br
                    <br>
                    <input type="text" id="month" name="month" placeholder="month" required="required"/><span style="color:red"> * </span>
                    <br>
                    <br>
                    <input type="text" id="day" name="day " placeholder="day" required="required"/><span style="color:red"> * </span>
                    <br>
                    <br>
                    <input type="text" id="yes_temp" name="yes_temp" placeholder="yesterday temperature"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <input type="text" id="today_temp" name="today_temp" placeholder="today temp"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <input type="text" id="avg_temp" name="avg_temp" placeholder="avg_temp"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <input type="text" id="temp_near_city" name="temp_near_city" placeholder="nearest city temperature"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <!-- <input type="text" id="has_card" name="has_card" placeholder="has_card"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br>
                    <input type="text" id="is_active_member" name="is_active_member" placeholder="is_active_member"/><span style="color:red" required="required"> * </span>
                    <br>
                    <br> -->
                    <button type="submit" class="btn">Predict</button>
                </form>
                <br>
                <!---Set placeholder for prediction output--->
                <div class ="pred">
                  <p class = "result"><b>{{ prediction_text }}</b></p>
                </div>
            </div>
        </div>
    </body>
</html>
UnderStanding Document- BTT RULE

Mainly We work in Btt application and our job is to take care of application and check whether it's working fine or not

There we check the logs of BTT in that we look for generally uierrors,erros,and savsucess also have to check whether they are running on pos_claims or direct_claims if they ran the grid on direct_claims than we have to raise the escalation on teams in front of their leads or poc

for btt ticket raising we can raise ticket from tech triage and tech central 

there are two region Bv and Cert with different timing cert were generally used by medic & clinical team and bv used by implementation team 

also we mainly work on GENEXCEL

In QCORE compare tool we run the file which is inside the GENEXCEL, we have to check latency of compare tool also.

In compare tool we have three fields which is Standard, Additional field and Dur.

if we have are DL in our scenarios than we have to select Dur and It also have to run on specific time 

For BTT claims, If someone has more claims than we have to priortise it same for Dur also.

we can find error codes in Genexcel in Internal Pos Err code grid sheet


Error Resolve Understanding Document

to solve any error we work on gen excel

Error 52- In this we have to check Grp number active or not CBM screen 1

and for Ubmbrella no - screen 05 

and Bin Pcn(this all medicare terms) - screen 38

PSW reject - We got this error in our mail genrally occur by some spaces or special char, to fix copy input on notepad++ and remove spaces from there 

TcID error- it is also same if any spaces available on TCID we got error like this 01TC001 to fix simply remove error

Rej06 it is occured by giving incorrect umbrella group, to fix just update them form cbm screen05

Elgexcel error we got also this in mail if there is given invalid benificary group, check HICN number update them from random alpha numeric

UPMC error - If setup is incorrect or data is not on server or have to add new data than we to raise ticket from Tech central and email to the onshore team 

If we got new error than for that we also have to raise INC ticket in tech central



